<header class="group header-dashboard">
    <div class="container-header">
        <h1 class="logo-dashboard"><a href="/timebox/sts">studybot</a> </h1>

        <a href="">settings</a>
        <a href="/users/logout" class="logout">logout</a>

    </div>

</header>

<div class="container-dashboard group">

    <section class="ln-models" id="lnmodels">
     
        
        <!-- form -->

        <form action="/lnmodels/addmdl" method="POST" id="model-form" class="add-visibility">
            <label for="model-name" >name</label>

            <input type="text" name="name" placeholder="enter name" id="modelnameinput">

            <label for="model-bgcolor">bg color</label>

            <input type="text" name="bgColor" placeholder="choose color" id="bgcolorinput">
            
            <input type="submit" value="submit">
        
        </form>

    </section>
    <section class="stats-sec">
        <div class="stats">
           <canvas id="myChart"></canvas>

        </div>
        <figure class="add">
            <a href="" id="add-mdl" class="addmdl" >+</a>
            <p>add learning model</p>
        </figure>
    </section>
</div>

<div id="modelStats" class="add-visibility">
    <h3>total time today : <span><%= Math.trunc(totalTimeToday/60) %> hr <%= Math.round((totalTimeToday%60)*100)/100  %> min </span></h3>
    <ul>
        <% modelTimeT.forEach(e => { %>

            <li><%= e.name %> <strong>:</strong> <span><%= Math.trunc(e.time/60) %> hr <%= Math.round((e.time%60)*100)/100  %> min</span></li>

       <% }); %>
    </ul>
    <h3>total time : <span><%= Math.trunc(totalTime/60) %> hr <%= Math.round((totalTime%60)*100)/100  %> min </span></h3>
    <ul>
        <% modelTime.forEach(e => { %>

            <li><%= e.name %> <strong>:</strong> <span><%= Math.trunc(e.time/60) %> hr <%= Math.round((e.time%60)*100)/100  %> min</span></li>

       <% }); %>
    </ul>
</div>

<button id="mdl-stats" class="">stats</a></button>
